## .NET
bin/
obj/
*.user
*.suo
*.userosscache
*.sln.docstates

## VS Code / Rider / VS
.vs/
.idea/
*.DotSettings.user

## Logs / temp
*.log
*.tmp
*.swp

## Secrets (NUNCA versionar)
k8s/secrets.yaml
**/appsettings.Local.json
.env
.env.local

## Coverage
TestResults/
coverage.xml
coverage.cobertura.xml
*.coverage
